<div class="upload">
  <form action="/login" method="POST" class="uploadcontainer">
    <h2>LOGIN</h2>
    <div class="uploadcontainertitle">
      <input type="text" id="email" name="email" placeholder="Email" required />
    </div>

    <div class="uploadcontainertitle">
      <input
        type="text"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>

    <div class="uploadcontainertitle">
      <button type="submit" class="btn"> Iniciar Sesión </button>
    </div>
  </form>
</div>