<div class="upload">
  <form action="/register" method="POST" class="uploadcontainer">
    <h2>Registrate</h2>

    <div class="uploadcontainertitle">
      <input type="text" name="first_name" placeholder="Nombre" required />
    </div>

    <div class="uploadcontainertitle">
      <input type="text" name="last_name" placeholder="Apellido" required />
    </div>

    <div class="uploadcontainertitle">
      <input
        type="text"
        name="email"
        placeholder="Correo electónico"
        required
      />
    </div>

    <div class="uploadcontainertitle">
      <input type="number" name="age" placeholder="Edad" required />
    </div>

    <div class="uploadcontainertitle">
      <input type="text" name="password" placeholder="Contraseña" required />
    </div>

    <button class="btn" type="submit"> Registrarse </button>
  </form>
</div>